/back/.idea
/front/.idea
/front/.gitignore
/front/node_modules
/front/.vscode
/.idea
/git
/git.pub


/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*
/front/.DS_Store
/front/dist
/front/dist-ssr
/front/coverage
/front/*.local
/front/cypress/videos/
/front/cypress/screenshots/
/front/# Editor directories and files
/front/.vscode/*
/front/!.vscode/extensions.json
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln
/front/*.sw?
