{% extends 'bootstrap5/base.html' %}
{% block title %}Main{% endblock %}
{% block content %}

{#    {% if no_admin %}#}
{#        <div class="modal fade" id="admin_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">#}
{#          <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#              <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">Novo Administrador</h5>#}
{#              </div>#}
{#              <div class="modal-body">#}
{#                  Bem vinda(o), o primeiro usuario a ser registrado será o administrador do seu sistema.#}
{#              </div>#}
{#              <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#    {% endif %}#}
{#    {{ nav_bar(current_user,is_admin) }}#}
{#    {{ carousel(products) }}#}
{% endblock %}
