{% extends 'base.html' %}
{% block content %}
    <button class="btn-outline-success" type="button">
        <a class="btn-success" href="{{ url_for('edit_shop_product',_id=shop.get_id(), _product_id='new')}}">Add Item</a>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Unity type</th>
                <th scope="col">Selling price</th>
                <th scope="col">Cost price</th>
                <th scope="col">Barcode</th>
                <th scope="col">Bought from</th>
                <th scope="col">Active</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
                <tr>
                    <th scope="row">{{ item.get_id() }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.unity_type }}</td>
                    <td>{{ item.selling_price }}</td>
                    <td>{{ item.cost_price }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.bought_from }}</td>
                    <td>{{ item.active }}</td>
                    <td><a class="link-primary" href="{{ url_for('edit_shop_product',_id=shop.get_id(),_product_id=item.get_id()) }}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{#        <a class="btn-success" href="/shop/{{ url_for('shop_product_id', _id=shop.get_id(), product_id=)}}">{{ item.name }}</a>#}

    <button class="btn-outline-success" type="button">
        <a class="btn-success" href="{{ url_for('root')}}">Home</a>
    </button>
{% endblock %}
