<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <form method="post">
            <label for="pagamento">Pagamento</label>
            <br>
            <textarea name="pagamento" id="pagamento">
                {{ json_pagamento }}
            </textarea>
            <label for="cancelamento">Cancelamento</label>
            <br>
            <textarea name="cancelamento" id="cancelamento">
                {{ json_cancelamento }}
            </textarea>
            <input type="submit" name="submit" id="submit">
            <div>
                <textarea>{{ response }}</textarea>
            </div>
        </form>
    </div>
</div>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src={{ url_for("static", filename="front.js")}}></script>
</body>
</html>
